@import "tailwindcss";

:root {
  --pokedex-red: #e3350d;
  --pokedex-dark: #313131;
  --pokedex-screen: #8bc34a;
  --pokedex-border: #424242;
}

body {
  background: var(--pokedex-dark);
  color: #fafafa;
  min-height: 100vh;
}
